<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href='{% static "css\calendar.css" %}'>
  </head>
  <body>
    {% block body_block %}

    <!--  calendar start -->

    <div class="container" align="center">
    <button type="button" name="button-right" onclick="nextMonth()">right</button>
    <table id="calendar">
      <thead>
        <th colspan='7' id="a"></th>
      </thead>
      <tr>
        <td id="b1">Sun</td>
        <td id="b2">Mon</td>
        <td id="b3">Tue</td>
        <td id="b4">Wed</td>
        <td id="b5">Thr</td>
        <td id="b6">Fri</td>
        <td id="b7">Sat</td>
      </tr>
      <tr>
        <td id="c1"></td>
        <td id="c2"></td>
        <td id="c3"></td>
        <td id="c4"></td>
        <td id="c5"></td>
        <td id="c6"></td>
        <td id="c7"></td>
      </tr>
      <tr>
        <td id="d1"></td>
        <td id="d2"></td>
        <td id="d3"></td>
        <td id="d4"></td>
        <td id="d5"></td>
        <td id="d6"></td>
        <td id="d7"></td>
      </tr>
      <tr>
        <td id="e1"></td>
        <td id="e2"></td>
        <td id="e3"></td>
        <td id="e4"></td>
        <td id="e5"></td>
        <td id="e6"></td>
        <td id="e7"></td>
      </tr>
      <tr>
        <td id="f1"></td>
        <td id="f2"></td>
        <td id="f3"></td>
        <td id="f4"></td>
        <td id="f5"></td>
        <td id="f6"></td>
        <td id="f7"></td>
      </tr>
      <tr>
        <td id="g1"></td>
        <td id="g2"></td>
        <td id="g3"></td>
        <td id="g4"></td>
        <td id="g5"></td>
        <td id="g6"></td>
        <td id="g7"></td>
      </tr>
      <tr>
        <td id="h1"></td>
        <td id="h2"></td>
        <td id="h3"></td>
        <td id="h4"></td>
        <td id="h5"></td>
        <td id="h6"></td>
        <td id="h7"></td>
      </tr>
    </table>
    <button type="button" name="button-left" onclick="previousMonth()">left</button>
    </div>

    <!--  calendar end -->

    <!-- form Start -->

    <div class="container">
      <form enctype="application/x-www-form-urlencoded" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="" value="Request Date">
      </form>
    </div>

    <!-- form end -->
    {% endblock %}
    <script type="text/javascript" src='{% static "js\calendar.js" %}'>

    </script>
  </body>
</html>
